<p id="player1name"><%= @player1.name %></p>
<table class="racer_table">
    <tr id="player1">
    <td class="active"></td>
    <% 5.times do %>
    <td></td>
    <% end %>
  </tr>
  <tr id="player2">
    <td class="active"></td>
    <% 5.times do %>
    <td></td>
    <% end %>
  </tr>
</table>
<p id="player2name"><%= @player2.name %></p>

