<div class="container">
<h1>Congratulations, <%= @winner.name  %>! You have defeated your opponent! Your name will live forever in honor and glory! May your reign never end...</h1>

<h2>Your Fastest Race Times:</h2>
<ol>
  <% @ranking.each_with_index do |rank, index| %>
    <li><%= index %>. <%= rank.race_time %> Seconds</li>
  <% end  %>
</ol>

<a href='/'>New Game</a>
</div>
